
.display {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  color: inherit;
}

.h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: inherit;
}


.h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}


.h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
}


.body16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
}


.body16Bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
}


.body14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: inherit;
}


.body14Medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: inherit;
}


.body14Bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: inherit;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: inherit;
}


.captionSemibold {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: inherit;
}


.link14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $primary-500;
}


.link12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $primary-500;
}
