@import '@/shared/styles/mixins';

.root {
  margin: 0;
  color: inherit;
}

.display {
  @include display;
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.body16 {
  @include body16;
}

.body16Bold {
  @include body16Bold;
}

.body14 {
  @include body14;
}

.body14Medium {
  @include body14Medium;
}

.body14Bold {
  @include body14Bold;
}

.caption {
  @include caption;
}

.captionSemibold {
  @include captionSemibold;
}

.link14 {
  @include link14;
}

.link12 {
  @include link12;
}
