.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 279px;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 279px;
  outline: 1px solid #4C4C4C;
  border-radius: 2px;
  padding: 0;
  position: relative;

  &:focus-within { outline: 2px solid #397DF6; }
  &:hover { outline: 1px solid #8D9094; }
  &:active { outline: 1px solid #fff; }
  &:disabled { outline: 1px solid #4C4C4C; }
}

.inputContainerError{
  outline: 1px solid #CC1439;
}

.inputContainerError .input::placeholder {
  color: #FFFFFF;
}
.inputContainerError .input {
  color: #FFFFFF;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  height: 36px;
  width: 100%;
  padding-right: 40px;
  background: none;
  color: #8D9094;

  &:hover,
  &:focus {
    color: #8D9094;
  }
  &:active {
    color: #FFFFFF;
  }

  &:disabled {
    color: #4C4C4C;
  }

  &.search { padding-left: 41px; }
  &.password { padding-left: 10px; }
  &::placeholder {
    font-size: 16px;
    color: #8D9094;
  }
  &:hover::placeholder,
  &:focus::placeholder {
    color: #8D9094;
  }
  &:active::placeholder {
    color: #FFFFFF;
  }
  &:disabled::placeholder {
    color: #4C4C4C;
  }
}

.toggleBtn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;

  svg {
    color: #FFFFFF;
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &:disabled svg {
    color: #4C4C4C;
  }
}

.errorMessage {
  margin-top: 4px;
  font-size: 14px;
  color: #CC1439;
}

.inputTitle {
  margin-bottom: 4px;
  font-size: 14px;
  color: #8D9094;
}

.icon {
  color: #FFFFFF;
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #8D9094;
}


.inputContainer:hover .searchIcon,
.inputContainer:focus-within .searchIcon {
  color: #8D9094;
}


.inputContainer:active .searchIcon {
  color: #FFFFFF;
}

.inputContainerError .searchIcon {
  color: #FFFFFF;
}

.inputContainer:disabled .searchIcon {
  color: #4C4C4C;
}
