@use '@/shared/styles/normalize';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-rendering: optimizelegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  @include typography($fw-regular, $fs-s, $lh-m);

  overflow-x: hidden;

  font-family: $f-font-primary;
  color: $light-100;

  background-color: $dark-700;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: currentcolor;
  text-decoration: none;
  transition: opacity $transition;
}

button {
  @include reset-btn;
}

.visually-hidden {
  @include visually-hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  main {
    flex-grow: 1;
  }
}
