@use '@/shared/styles/variables' as *;

// breakpoints

@mixin vp-1279 {
  @media (max-width: $vp-1280 - 0.02px) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: $vp-1024 - 0.02px) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: $vp-768 - 0.02px) {
    @content;
  }
}

@mixin vp-479 {
  @media (max-width: $vp-480 - 0.02px) {
    @content;
  }
}

@mixin vp-375 {
  @media (max-width: $vp-375 - 0.02px) {
    @content;
  }
}

// retina

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// events
@mixin hover {
  @media (hover: hover) {
    &:hover:not([disabled]) {
      @content;
    }
  }
}

@mixin focus {
  &:focus-visible:not([disabled]) {
    @content;
  }
}

@mixin focus-within {
  &:focus-within:not([disabled]) {
    @content;
  }
}

@mixin active {
  &:active:not([disabled]) {
    @content;
  }
}

@mixin disabled {
  &[disabled] {
    @content;
  }
}

@mixin hover-focus {
  @include hover {
    @content;
  }

  @include focus {
    @content;
  }
}

@mixin hover-focus-within {
  @include hover {
    @content;
  }

  @include focus-within {
    @content;
  }
}

// other

@mixin reset-btn {
  cursor: pointer;

  padding: 0;
  border: none;

  font-family: inherit;

  background-color: $color-transparent;
  outline: none;
}

@mixin visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  /* stylelint-disable-next-line property-no-deprecated */
  clip: rect(0 0 0 0);
}

@mixin typography($weight, $size, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin link-base {
  color: $primary-500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@mixin large {
  @include typography($fw-semibold, $fs-2xl, $lh-xl);
}

@mixin h1 {
  @include typography($fw-bold, $fs-xl, $lh-l);
}

@mixin h2 {
  @include typography($fw-bold, $fs-l, $lh-xs);
}

@mixin h3 {
  @include typography($fw-semibold, $fs-m, $lh-m);
}

@mixin text-l {
  @include typography($fw-regular, $fs-m, $lh-m);
}

@mixin text-l-bold {
  @include typography($fw-bold, $fs-m, $lh-m);
}

@mixin text-m {
  @include typography($fw-regular, $fs-s, $lh-s);
}

@mixin text-m-medium {
  @include typography($fw-medium, $fs-s, $lh-s);
}

@mixin text-m-bold {
  @include typography($fw-bold, $fs-s, $lh-s);
}

@mixin text-s {
  @include typography($fw-regular, $fs-xs, $lh-xs);
}

@mixin text-s-semibold {
  @include typography($fw-semibold, $fs-xs, $lh-xs);
}

@mixin link-m {
  @include typography($fw-regular, $fs-s, $lh-s);
  @include link-base;
}

@mixin link-s {
  @include typography($fw-regular, $fs-xs, $lh-xs);
  @include link-base;
}
