// project colors
$primary-100: #73a5ff;
$primary-300: #4c8dff;
$primary-500: #397df6;
$primary-700: #2f68cc;
$primary-900: #234e99;
$danger-100: #ff8099;
$danger-300: #f23d61;
$danger-500: #cc1439;
$danger-700: #990f2b;
$danger-900: #660a1d;
$warning-100: #ffd073;
$warning-300: #e5ac39;
$warning-500: #d99000;
$warning-700: #960;
$warning-900: #640;
$success-100: #80ffbf;
$success-300: #22e584;
$success-500: #14cc70;
$success-700: #0f9954;
$success-900: #0a6638;
$light-100: #fff;
$light-300: #f7fbff;
$light-500: #edf3fa;
$light-700: #d5dae0;
$light-900: #8d9094;
$dark-100: #4c4c4c;
$dark-300: #333;
$dark-500: #171717;
$dark-700: #0d0d0d;
$dark-900: #000;

// colors
$color-transparent: rgb(255 255 255 / 0%);

// breakpoints
$vp-1280: 1280px;
$vp-1024: 1024px;
$vp-768: 768px;
$vp-480: 480px;
$vp-375: 375px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// transitions
$transition-duration: 0.3s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;

// fonts
$f-font-primary: var(--font-primary), 'Arial', 'Helvetica', sans-serif;

$fs-xs: 12px;
$fs-s: 14px;
$fs-m: 16px;
$fs-l: 18px;
$fs-xl: 20px;
$fs-2xl: 26px;

$lh-xs: 1.333;
$lh-s: 1.714;
$lh-m: 1.5;
$lh-l: 1.8;
$lh-xl: 1.384;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
