.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  color: $light-100;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;

}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 20px;
}

.button {
  border-radius: 2px;
  padding: 6px 24px;
  width: 182px;
  height: 36px;
  background: $primary-500;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $light-100;
  margin: 54px auto 72px;
}

